html {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  overflow: hidden;
  max-height: 500px;
  align-items: center;
}

.content {
  width: 60%;
}

.banner-content {
  max-width: 45em;
  width: 100%;
  display: flex;
  position: absolute;
  justify-content: space-between;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 0 1em;
}

.img-flex {
  display: block;
  width: 100%;
}

.banner-left {
  width: 33%;
}

.card-title {
  line-height: 1.2;
  font-size: 3rem;
  margin: 0;
  max-width: 6em;
  font-family: "Roboto Condensed", sans-serif;
}

.banner-content p {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  margin: .5rem 0 1.2rem;
  max-width: 16em;
}

.btn {
  padding: .4em .75em .5em;
  background-color: #333;
  color: #fff;
  border-style: solid;
  border-color: #333;
  border-radius: 8px;
  border-width: 3px;
  text-decoration: none;
  font-size: 1.125rem;
  display: inline-block;
}

.btn:hover {
  background-color: #000;
  border-color: #000;
}

.btn-big {
  font-size: 1.5rem;
}
